.DS_Store

# Xcode
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage
Pods/
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Logs
*.log
